@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Great+Vibes&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
